html{
  scroll-behavior: smooth;
}
body{
    background-color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
  position: sticky;
  top: 0%;
  overflow: hidden;
  z-index: 1000;
  background-color: black;
}
h2{
  color: goldenrod  ;
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: space-around;
  margin: 0.5%;
}
.navul{
  margin-left: 51%;
}
.navli{
  display:inline;
}
.navli a{
  color: white;
  text-decoration: none;
  font-size: 20px;         
  margin:10px;
  padding:5px;
  border-radius: 10px;
  transition: 0.5s;
}
.navli a:hover{
  color: white;         
  background-color: goldenrod;
  transition: 0.5s;
}
  .container{
    display: inline-block;
    margin: 20%;
  }
  .text{
    overflow: hidden;
    font-size: xx-large;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    animation: typing 3s steps(150,end) infinite;
  }
  @keyframes typing{
    from {
      width: 0;
    }
    to {
      width: 400px;
    }
  }
.myimage img{
    height: 450px;
    width: 225px;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 3px goldenrod);
}
.container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.container1 div{
    margin: 2%;
    align-content: center;
}
.myself{
  color: goldenrod;
}
.icon{
  display: flex;
  justify-content: space-around;
}
.icon a{
  font-size: xx-large;
  padding: 1% 3% 1% 3%;
  color: white;
  background-color: rgb(41, 34, 34);
  border-radius: 10px;
  transition: 0.5s;
}
.icon a:hover{
  color: black;
  background-color: goldenrod;
  box-shadow: 0px 0px 10px goldenrod, 0px 0px 10px goldenrod inset;
}
.container2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 1%;
}
.container2 div{
  margin: 2%;
  align-content: center;
}
.table1,.table2{
  color: goldenrod;
  background-color: rgb(21, 17, 30);
  border-radius: 15px;
  transition: 0.5s;
}
.table1:hover{
  box-shadow: 0px 0px 8px rgb(255, 202, 69);;
  transition: 0.5s;
}
.table2:hover{
  box-shadow: 0px 0px 8px rgb(255, 202, 69);;
  transition: 0.5s;
}
.skill{
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(204, 146, 0);
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 15px;
  transition: all ease-in-out 0.5s;
}
.skill:hover{
  box-shadow: 0px 0px 8px black inset;
}
.skill h2{
  color: white;
}
.skill div{
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}
.conpro img{
  height: 30%;
  width: 30%; 
}

